# Fecuencia de palabras en un texto
### Equipo 2

In [8]:
from Bool import boolean, documents
import sys
sys.path.append("C:/Users/brusl/Documents/1 Escuela/1 Universidad/10 Semestre/Recuperacion/Practicas RDI")
from Miscelaneous import *

In [9]:
# Ejemplo de búsqueda
query = "gato and perro"
extend = boolean()
extend.addDoc(documents)
display(dict_to_table(extend.documents))

                                                0
d1  El perro marrón saltó sobre el Pato perezoso.
d2     El gato perezoso se durmió en la alfombra.
d3        El perro marrón ladra al gato a menudo.
d4       El gato perezoso ignora al perro marrón.

In [10]:
tokens=extend.tokenize()

Documentos Procesados: {'d1': 'EL PERRO MARRÓN SALTÓ SOBRE EL PATO PEREZOSO.', 'd2': 'EL GATO PEREZOSO SE DURMIÓ EN LA ALFOMBRA.', 'd3': 'EL PERRO MARRÓN LADRA AL GATO A MENUDO.', 'd4': 'EL GATO PEREZOSO IGNORA AL PERRO MARRÓN.'}


Palabras unicas: {'PERRO', 'AL', 'SE', 'LA', 'IGNORA', 'A', 'LADRA', 'SOBRE', 'MARRÓN', 'PATO', 'EL', 'MENUDO', 'PEREZOSO', 'GATO', 'ALFOMBRA', 'SALTÓ', 'EN', 'DURMIÓ'}


Datos Procesados:
d1: [('SOBRE', 0.29828679513998635), ('PATO', 0.29828679513998635), ('SALTÓ', 0.29828679513998635), ('EL', 0.25), ('PERRO', 0.1609602590564726), ('MARRÓN', 0.1609602590564726), ('AL', 0.0), ('SE', 0.0), ('LA', 0.0), ('IGNORA', 0.0), ('A', 0.0), ('LADRA', 0.0), ('MENUDO', 0.0), ('PEREZOSO', 0.0), ('GATO', 0.0), ('ALFOMBRA', 0.0), ('EN', 0.0), ('DURMIÓ', 0.0)]


Datos Procesados:
d2: [('SE', 0.29828679513998635), ('DURMIÓ', 0.29828679513998635), ('LA', 0.21164339756999317), ('EN', 0.21164339756999317), ('PEREZOSO', 0.1609602590564726), ('GATO', 0.1609602590564726), ('EL', 0.125), ('PERRO', 0.0), ('AL', 0.0), ('IGNORA', 0.0), ('A', 0.0), ('LADRA', 0.0), ('SOBRE', 0.0), ('MARRÓN', 0.0), ('PATO', 0.0), ('MENUDO', 0.0), ('ALFOMBRA', 0.0), ('SALTÓ', 0.0)]


Datos Procesados:
d3: [('LADRA', 0.29828679513998635), ('PERRO', 0.1609602590564726), ('MARRÓN', 0.1609602590564726), ('GATO', 0.1609602590564726), ('AL', 0.125), ('A', 0.125), ('EL', 0.125), ('SE', 0.0), ('LA', 0.0), ('IGNORA', 0.0), ('SOBRE', 0.0), ('PATO', 0.0), ('MENUDO', 0.0), ('PEREZOSO', 0.0), ('ALFOMBRA', 0.0), ('SALTÓ', 0.0), ('EN', 0.0), ('DURMIÓ', 0.0)]


Datos Procesados:
d4: [('IGNORA', 0.34089919444569866), ('PERRO', 0.18395458177882582), ('PEREZOSO', 0.18395458177882582), ('GATO', 0.18395458177882582), ('AL', 0.14285714285714285), ('EL', 0.14285714285714285), ('SE', 0.0), ('LA', 0.0), ('A', 0.0), ('LADRA', 0.0), ('SOBRE', 0.0), ('MARRÓN', 0.0), ('PATO', 0.0), ('MENUDO', 0.0), ('ALFOMBRA', 0.0), ('SALTÓ', 0.0), ('EN', 0.0), ('DURMIÓ', 0.0)]

In [11]:
display(dict_to_table(tokens))

,A,AL,ALFOMBRA,DURMIÓ,EL,EN,GATO,IGNORA,LA,LADRA,MARRÓN,MENUDO,PATO,PEREZOSO,PERRO,SALTÓ,SE,SOBRE
d1,0.000,0.000000,0.0,0.000000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.16096,0.0,0.298287,0.000000,0.160960,0.298287,0.000000,0.298287
d2,0.000,0.000000,0.0,0.298287,0.125000,0.211643,0.160960,0.000000,0.211643,0.000000,0.00000,0.0,0.000000,0.160960,0.000000,0.000000,0.298287,0.000000
d3,0.125,0.125000,0.0,0.000000,0.125000,0.000000,0.160960,0.000000,0.000000,0.298287,0.16096,0.0,0.000000,0.000000,0.160960,0.000000,0.000000,0.000000
d4,0.000,0.142857,0.0,0.000000,0.142857,0.000000,0.183955,0.340899,0.000000,0.000000,0.00000,0.0,0.000000,0.183955,0.183955,0.000000,0.000000,0.000000

In [12]:
results = extend.boolean_search(query)
print(f"\nConsulta {query}\n resultados{results}\n")

relevant_docs: {'d3', 'd4'} d3: word: GATOscore0.1609602590564726
relevant_docs: {'d3', 'd4'} d3: word: PERROscore0.02590820499552677
relevant_docs: {'d3', 'd4'} d4: word: GATOscore0.18395458177882582
relevant_docs: {'d3', 'd4'} d4: word: PERROscore0.033839288157422716

Consulta gato and perro
 resultados{'d4': 0.033839288157422716, 'd3': 0.02590820499552677}

In [13]:
query = "((not perro)and gato)"
results = extend.process_query(query)
print(f"\nConsulta {query}\n resultados{results}\n")

sub: ['(', 'NOT', 'PERRO', ')']
text: ( NOT PERRO )
sub: ['(', 'AND', 'GATO', ')']
text: ( AND GATO )
relevant_docs: {'d2'} d2: word: GATOscore0.1609602590564726

Consulta ((not perro)and gato)
 resultados{'d2': 0.1609602590564726}