# Fecuencia de palabras en un texto
### Equipo 2

In [1]:
from vectorial import ModeloVectorial
import sys
sys.path.append("C:/Users/brusl/Documents/1 Escuela/1 Universidad/10 Semestre/Recuperacion/Practicas RDI")
#from Miscelaneous import *
import pandas as pd
def dict_to_table(d, col=None):
    # Crea un DataFrame a partir del diccionario
    df = pd.DataFrame.from_dict(d, orient='index', columns=col)
    # Redondea los valores a 4 decimales
    df = df.round(9)
    # Ordena las columnas alfabéticamente
    df = df.reindex(df.columns, axis=1)
    # Muestra la tabla en el notebook
    display(df)

# Crear una instancia de la clase InformationRetrievalModel

In [2]:
corpus = {
    "doc1":"El cielo es azul",
    "doc2":"El sol es amarillo",
    "doc3":"La hierba es verde",
    "doc4":"El cielo azul, siempre está acompañado por el amarillo sol, que pone verde a la hierba"}
display(dict_to_table(corpus, col=[f'Documentos']))

                                             Documentos
doc1                                   El cielo es azul
doc2                                 El sol es amarillo
doc3                                 La hierba es verde
doc4  El cielo azul, siempre está acompañado por el ...

None

# Se crea un objeto del modelo vectorial cargando el corpus.

In [3]:
model = ModeloVectorial(corpus)
dict_to_table(model.rep_dict)

,acompañado,amarillo,azul,cielo,el,es,está,hierba,la,pone,por,que,siempre,sol,verde
doc1,0,0,1,1,1,1,0,0,0,0,0,0,0,0,0
doc2,0,1,0,0,1,1,0,0,0,0,0,0,0,1,0
doc3,0,0,0,0,0,1,0,1,1,0,0,0,0,0,1
doc4,1,1,1,1,2,0,1,1,1,1,1,1,1,1,1

# Se procesa la consulta

In [4]:
query = "cielo azul"
results = model.retrieve_documents(query)
display(dict_to_table(results, col=[f'Documentos Simulares con {query}']))

Vector de la consulta: <class 'numpy.ndarray'> y en forma de arreglo: [[0 0 1 1 0 0 0 0 0 0 0 0 0 0 0]]

      Documentos Simulares con cielo azul
doc1                             0.707107
doc4                             0.342997

None

# Se agregar nuevos documentos al corpus

In [5]:
new_documents = {
    "doc5":"La luna es blanca",
    "doc6":"El mar es azul",
    "doc0":"El fuego es rojo"
    }
display(dict_to_table(new_documents, col=[f'Documentos']))
model.add_documents(new_documents)

             Documentos
doc5  La luna es blanca
doc6     El mar es azul
doc0   El fuego es rojo

None

# Se muestra la representacion vectorial en forma de tabla para cada Documento

In [6]:
dict_to_table(model.rep_dict)

,acompañado,amarillo,azul,blanca,cielo,el,es,está,fuego,hierba,la,luna,mar,pone,por,que,rojo,siempre,sol,verde
doc1,0,0,1,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
doc2,0,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0
doc3,0,0,0,0,0,0,1,0,0,1,1,0,0,0,0,0,0,0,0,1
doc4,1,1,1,0,1,2,0,1,0,1,1,0,0,1,1,1,0,1,1,1
doc5,0,0,0,1,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,0
doc6,0,0,1,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0
doc0,0,0,0,0,0,1,1,0,1,0,0,0,0,0,0,0,1,0,0,0

# Con los nuevos documentos se procesa la consulta anterior

In [7]:
query = "cielo azul"
results = model.retrieve_documents(query)
display(dict_to_table(results, col=[f'Documentos Simulares con {query}']))

Vector de la consulta: <class 'numpy.ndarray'> y en forma de arreglo: [[0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]]

      Documentos Simulares con cielo azul
doc1                             0.707107
doc6                             0.353553
doc4                             0.342997

None